* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    overflow: hidden;
    min-height: 600px;
}
li{
    white-space: nowrap;
}

.kind-message {
    font-size: 10rem;
    text-align: center;
    animation: goOut 5s ease-in-out 2 forwards;
}

.secondary-wrapper {
    height: 100vh;
    overflow: hidden;
    position: relative;
}

.balloons-container {
    position: absolute;
    width: 100%;
    bottom: 0;
}

.balloon {
    position: absolute;
    bottom: -50dvh;
    left: var(--posX);
    width: var(--size);
    height: auto;
    animation: float 10s linear infinite;
    animation-delay: var(--delay);
}

@keyframes float {
    0% {
        transform: translateY(0);
        opacity: 0;
    }
    10% {
        opacity: 1; 
    }
    100% {
        transform: translateY(-150vh);
        opacity: 1;  
    }
}

@keyframes goOut {
    0% {
        opacity: 0;
        visibility: visible;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        visibility: hidden;
    }
}


